/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*/*.omf.out
/*/.xml2po.mo
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/C/legal.xml
/C/lightsoff.xml
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/de/de.po
/de/lightsoff.xml
/lightsoff-C.omf
/lightsoff-de.omf
/so_locations
/tags
